/* START aturan khusus */
/* reset */
html, body, blockquote, div, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
li, tbody, td, tfoot, th, thead, tr, button, a, b,  br, em, i, img, small, span,
strong, sub, sup, legend, fieldset {
        margin: 0;
        padding: 0;
        border:0 none;
        outline:0 none;
        font-size:100%;
        list-style: none;
}

article, aside, footer, header, hgroup, menu, nav, section { 
    display: block;
}

/* CLEARFIX */
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility:hidden; } 
.clearfix { display: inline-block; } 
* html .clearfix { height:1%; } 
.clearfix { display:block; } 
/* CLEARFIX */


body{
    font-family: arial;
    /*background-color: #EAEBFF;*/
}

table tr th {
    border: 1px solid brown;
    background-color: #60abf8;
}


img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

a {
    color: #000000;
    text-decoration:none;
}

h2 {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

sup {
    color: red;
}

input[type="text"] {
    background-color: white;
    height: 20px;
}

input[type="submit"] {
    height: 30px;
    background-color: white;
}

input[type="submit"]:hover {
    background-color: bisque;
}

input:focus, textarea:focus {
    background-color: bisque;
}

/* END aturan khusus */


/* Start header */
#header{
    height: 100px;
    background-color: #60abf8;
    border: 5px solid brown;
    padding: 10px;
    border-radius: 15px;
    font-size: 1.2em;
}
/* End header */

/* Start Menu */
#menu{
    margin: -50px auto;
    text-align: center;
    width: 1200px;
}

#menu ul{
    margin : 0 auto;
}

#menu ul li{
    float: left;
}

#menu ul li a{
    display: block;
    border: 5px solid brown;
    margin: 5px;
    padding: 20px 10px;
    width: 200px;
    font: bold 20px gadget, sans-serif;
    background-color:white;
    border-radius: 50px 50px;
}

/* End Menu */

/* START outer */
#bg-site { 
    width: 70%;
    margin: -60px auto;
    border-radius: 15px;
    background-color: #EAEBFF;
    box-shadow: 6px 6px 6px #DADCFF;
    border: 4px groove black;
    padding-top: 30px;
    z-index: -10;
}

#outer{
    margin: 50px auto;
    width: 1000px;
}

#outer>aside {
    float: right;
    width: 280px;
}

/* END outer */

/* Begin content wrapper */
#content-wrapper {
    width: 700px;
    float: left;
}

#content-wrapper>section:first-of-type {
    margin-bottom: 30px;
}

#content-wrapper>section:first-of-type div {
    padding: 10px;
}

/* detail gambar */
#content-wrapper>section:last-of-type {
    background-color: #60abf8;
    border-radius: 10px;
    border: 4px groove brown;
    padding: 5px;
    box-shadow: 3px 3px 3px #f6f6f6;
}

#content-wrapper>section:last-of-type ul {
    padding: 10px;
    margin: 0 auto;
    width: 650px;
}

#content-wrapper>section:last-of-type ul li {
   width: 40%;
   float: left;
   margin: 10px;
   position: relative;
   padding:20px;
   font-weight: bold;
}

#content-wrapper>section:last-of-type ul li div {
    border: 1px solid black;
    padding: 10px;
    background-color: white;
    text-align: center;
    position: relative;
    border-radius: 10px;
}

#content-wrapper>section:last-of-type ul li form {
    background-color: darkcyan;
    margin-top: 10px;
    padding: 10px;
    font-size: 0.8em;
}

#content-wrapper>section:last-of-type ul li form input {
    margin-left: 20px;
}

#content-wrapper>section:last-of-type ul li img {  
    height: 250px;
    width: 250px
}

#content-wrapper>section:last-of-type ul li div span:first-child {
    
    padding: 5px;
    /* background-color: lightskyblue; */
    background-color: #cccc00;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 90%;
    border: 1px solid black;
    text-align: center;
    display: block;
    margin: 5px auto;
}

#content-wrapper>section:last-of-type ul li span:last-child {
    background-color: chartreuse;
    width: 100%;
    display: block;
}

#content-wrapper>section:last-of-type ul li a { 
    width: 90%;
    padding: 3px;
    text-align: center;
    margin: 5px auto;
    display: block;
    background-color: yellow;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#content-wrapper>section:last-of-type ul li a:hover {
    background-color: #710909;
    color: white;
}

/* sidebar */

aside section {
    border: 3px groove brown;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

aside section>a {
    position: absolute;
    bottom: 50px;
    left: 50px;
    font-size: 1.2em;
    color: rgb(153, 0, 0);
}

aside section>a:hover {
    text-decoration: underline;
}

aside section>span{
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
}


/*  begin keranjang */
aside section article {
    display: inline-block;
    padding: 15px;
    position: absolute;
    top: 10px;
}

aside section article span {
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1.5em;
}

aside section article>a {
    display: inline-block;
    border-radius: 10px;
    margin-top: 20px;

}

aside section article>a:first-of-type {
    background-color: white;
    margin-top: 10px;
    margin-right: 10px;
    width: 70px;
    padding: 5px;
    text-align: center;
}

aside section article>a:last-of-type {
    /* background-color: #00cccc; */
    background-color: #b81900;
    padding: 5px;
    width: 50px;
    text-align: center;
    color: white;
}

aside section:first-child {
    position: relative;
    /* background-color: darkseagreen; */
    background-color: #60abf8;
    height: 170px;
}

aside section:last-child {
    background-color: #C6E746;
}

/* end keranjang */

/* begin login */
#outer>aside:first-of-type {
    border: 1px solid black;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #DADCFF;
}

#outer>aside:first-of-type h2 {
    text-align: center;
    margin: 10px;
}

#outer>aside:first-of-type table{
    margin: 5px;
} 


/* end login */



/* START SPECIAL */
.hilang {
    display: none;
}

#slidebisnis {
    border: 6px solid black;
}


/* END SPECIAL */





/* START pendaftaran */
#content-wrapper h1 {
    margin-bottom: 10px;
    text-align: center;
}

#fm-daftar {
    background-color: #DADCFF;
    padding: 20px;
    border-radius: 10px;
    border: 4px groove black;
}
/* END pendaftaran */

/*********** START tentang kami **********/
#ttg {
    border: 3px groove black;
    border-radius: 10px;
    padding: 10px;
    min-height: 300px;
    background-color: #DADCFF;
}

#cr_psn_byr {
    border: 3px groove black;
    border-radius: 10px;
    padding: 10px;
    min-height: 300px;
    background-color: #C6E746;
}

#pesanan_konsumen table {
    border-collapse: collapse;
    margin: 30px auto;
    width: 100%;
}

#pesanan_konsumen table tr td {
    border: 1px solid black;
}
/********* END tentang kami **************/


/*********** START ISI *******************/
#isi {
    border-radius: 10px;
    background-color: #60abf8;
    border: 4px groove black;
    padding: 10px;
}

#isi form table tr td {
    padding: 10px;
}

/************ END ISI *********************/


/***************** Start View pemesanan ************/



/***************** End View pemesanan ***************/